body {
	 background-color: black;
}

.encadrement{
	border:2px solid  Lime;
	border-radius: 5%;
}

h1{
	display: inline-block;
	border-radius:50%;
	padding: 10px;
	font-size: 50px;
	
}

h2{
	color: Lime;
	display: inline-block;
	border-radius:50%;
	padding: 10px;
	font-size: 30px;
}

.icon {
		width:40px;
		display: inline;
}

.competences {
	left:50%;
	width:50px;
	margin: 10px;
	display: inline-block;
}	

.icon:hover {
	width: 50px;
	color: black;
	background-color: Lime;
}

.me_poser_une_question {
	display: inline-block;
	border-radius:50%;
	padding: 10px;
}



#css {
	border-radius:10px;
}

.vert{
	color: Lime;
}



#parcours {
	display: inline-block;
}

#a_propos{
	display: inline-block;
}

#etat_civil{
	display: inline-block;
}

#profil{
	height:100px;
	width:100px;
	border-radius:50%;
}

#photo {
	height: 100px;
	width: 100px;
	top: 20px;
	right: 110px;
	position: absolute;
}

#profil:hover {
	height: 200px;
	width: 200px;
}
.font {
	 font-family: 'VT323', monospace;
}
li {
	font-size:30px
}
a {
	color: Lime;
}


#github:hover {
	font-size:20px;
}
#knowledge{
	height:200px;
	width:600px;
}
.hovergreen:hover {
	color: black;
	background-color: Lime;
}
