body {
	 background-image: url("/home/thibault/Documents/img/4810611746_d31ec7df88.jpg");
}

h1{
	color: GreenYellow;
	border: solid ; GreenYellow;
	display: inline-block;
	border-radius:50%;
	padding: 10px;
	font-size: 50px;
	
}

h2{
	color: GreenYellow;
	border: solid ; #9ACD32;
	display: inline-block;
	border-radius:50%;
	padding: 10px;
	font-size: 30px;
}

.icon {
		width:40px;
		display: inline;
}

.competences {
	left:50%;
	width:50px;
	margin: 10px;
	display: inline-block;
}	

.icon:hover {
	width: 50px;
}

.me_poser_une_question {
	border: solid ;
	display: inline-block;
	border-radius:50%;
	padding: 10px;
}



#css {
	border-radius:10px;
}

.vert{
	color: GreenYellow;
}



#parcours {
	display: inline-block;
}

#a_propos{
	display: inline-block;
}

#etat_civil{
	display: inline-block;
}

#profil{
	height:100px;
	width:100px;
	border-radius:50%;
}

#photo {
	height: 100px;
	width: 100px;
	top: 20px;
	right: 110px;
	position: absolute;
}

#profil:hover {
	height: 200px;
	width: 200px;
}
.font {
	 font-family: 'Dancing Script', cursive;
}
li {
	font-size:30px
}
a {
	color: GreenYellow;
}
a:hover {
	color: white;
}

#github:hover {
	font-size:20px;
}
#knowledge{
	height:200px;
	width:600px;
}

